.select_field{
    width: 50px !important;
    display: inline;
}

.rh-icon{
    background-color: #ff4081 !important;
}


.mdl-card-full{
    width: 100% !important;
    height: 100% !important;
}

.mdl-card__supporting-text{
    width: 100%;
}

.pre{
    background-color: white;
    overflow: auto;
}

.content{
    padding-left:1%;
    padding-right:1%;
}


.mdl-card__supporting-text{
    max-height: 90%;
    overflow: auto !important;
}

.mdl-textfield__label{
    color: rgba(0, 0, 0, 0.541176);
}

a{
    text-decoration: none !important;
}

.link ul li{
    padding:0 15px 0 15px;
    list-style-type:none;
}


.link ul li a{
    text-decoration: none !important;
}

.link ul li a:hover{
    color: red !important;
    cursor: pointer;
    background-color: none;
}

.link ul li a:visited{
    color: white !important;
}

#notice{
    padding:10px;
    text-align: center;
    color: green;
    background-color: lightyellow;
}

.full-text{
    position:fixed;
    bottom:0;
    background-color:rgba(97, 97, 97, 0.901961);
    color:white;
    width:60%;
    max-height:300px;
    overflow:auto;
    margin-bottom:30px;
    padding:10px;
    text-align:left;
    z-index:99;
    display: none;
    left:20%;
    animation: slideUp .5s;
}

::-webkit-scrollbar {
    width: 3px; 
    background: white; 
}

::-webkit-scrollbar-thumb {
    background: #ff4081;
}

.close-icon{
    position:fixed;
    right:20%;
    cursor:pointer;
    /*background:#cc0000;*/
}

@keyframes slideUp{
    from     { transform:translateY(100%); }
    to         { transform: translateY(0); }
}


table{
    width:100%;
}

table thead tr th, table tbody tr td{
    text-align: center !important;
}

td.large-text div{
    white-space:normal !important;
    width:100% !important;
    height:70px !important;
    overflow: hidden !important;
    padding-right:10px !important;
    cursor: pointer;
    padding:0;
    border: none;
}

.large-text{
    padding: 10px;
    text-align: left !important;
    vertical-align: top !important;
    white-space:normal !important;
}

.mdl-card{
    width: 100% !important;
    height: 550px !important;
    padding-bottom: 15px !important;
}

.large-text div{
    white-space:normal !important;
    width:100% !important;
    height:400px !important;
    overflow: hidden !important;
    padding-right:10px !important;
    /*cursor: pointer;*/
    padding:10px;
    border:1px dashed rgba(97, 97, 97, 0.901961);
}

.large-text span{
    text-align: left !important;
}

.large-text div:hover{
    overflow-y: auto !important;
}

.full-text{
    position:fixed;
    bottom:0;
    background-color:rgba(97, 97, 97, 0.901961);
    color:white;
    width:60%;
    max-height:300px;
    overflow:auto;
    margin-bottom:30px;
    padding:10px;
    text-align:left;
    z-index:99;
    display: none;
    left:20%;
    animation: slideUp .5s;
}

.radio-large{
    margin:0 !important;
    width:100%;
    height:100%;
}

input[type='radio']:after {
    width:100%;
    height:100%;
    border-radius: 100%;
    background-color: #d1d3d1;
}

input[type='radio']:checked:after {
    width:100%;
    height:100%;
    border-radius:100%;
    /*background-color: #ff4081;*/
    background-color: #3f9c35;
    content: '\2713';
    /*content: 'R';*/
    color: #f3f3f3;
    font-size: 50px;
    vertical-align: middle;
    text-align: center;
    /*line-height: 18px;*/
    display: inline-block;
    visibility: visible;
    /*border: 2px solid white;*/
}

.demo-card-event.mdl-card {
  width: 100%;
  background:   #F5F5F5;
  margin-top:5px;
  padding:10px;
}


.highlight{
  background-color:   #3f51b5 !important;
}

.highlight a {
  background-color:   #ff4081 !important;
  color: white;
}

.mdl-card__titl.mdl-card--expand{
    background-color: white;
    padding:10px;
}

.mdl-chip__text{
    font-size: 16pt !important;
}

.mdl-chip__contact {
    width: 50px;
    font-size: 30px;
}

.mdl-chip{
    /*background: #fff !important;*/
    /*color: white;*/
}

header .row{
    padding:15px;
    vertical-align: middle;
}

header .row .img{
    padding-top:5px;
}

header .row .title{
    text-align: center;
}

header .row .link{
    padding-top:10px;
}

.demo-card-wide.mdl-card {
  width: 100% !important;
  height:500px !important;
  overflow-y: scroll;
}

form{
    width:100%;
}

.mdl-textfield.mdl-js-textfield{
    text-align: left;
}
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label, .mdl-textfield.mdl-js-textfield{
    width: 80%;
}

.activities{
    text-align: left !important;
}